<div class="create-form">
  <h1 class="create-form__title">{{ 'createCard.step-1' | translate }}</h1>

  <form
    class="create-form__form"
    [formGroup]="form"
    (ngSubmit)="next()"
    [attr.aria-label]="'createCard.form.ariaLabel' | translate"
  >
    <div class="create-form__field">
      <tui-textfield>
        <label tuiLabel for="recipientName">{{ 'createCard.form.name.label' | translate }}</label>
        <input
          id="recipientName"
          tuiInput
          type="text"
          formControlName="recipientName"
          [placeholder]="'createCard.form.name.placeholder' | translate"
          autocomplete="off"
        />
      </tui-textfield>
      <tui-error formControlName="recipientName" />
    </div>

    <div class="create-form__field">
      <tui-textfield>
        <label tuiLabel for="birthDate">{{ 'createCard.form.birthDate.label' | translate }}</label>
        <input
          id="birthDate"
          tuiInputDate
          formControlName="birthDate"
          [max]="maxDate"
        />
        <tui-calendar *tuiDropdown />
      </tui-textfield>
      <tui-error formControlName="birthDate" />
    </div>

    <div class="create-form__field">
      <tui-textfield [tuiTextfieldCleaner]="false">
        <label tuiLabel for="countryCode">{{ 'createCard.form.country.label' | translate }}</label>
        <input
          id="countryCode"
          tuiComboBox
          formControlName="countryCode"
          [strict]="true"
          [placeholder]="'createCard.form.country.placeholder' | translate"
        />
        <tui-data-list *tuiDropdown>
          @for (c of countries; track c) {
            <button tuiOption [value]="c">{{ 'country.' + c | translate }}</button>
          }
        </tui-data-list>
        <tui-icon [tuiTooltip]="'createCard.form.country.hint' | translate" />
      </tui-textfield>
      <tui-error formControlName="countryCode" />
    </div>

    <div class="create-form__field gender">
      <form tuiGroup [collapsed]="true" [formGroup]="form">
        <label tuiBlock>
          <input formControlName="gender" tuiBlock type="radio" value="male" />
          {{ 'createCard.form.gender.male' | translate }}
        </label>
        <label tuiBlock>
          <input formControlName="gender" tuiBlock type="radio" value="female" />
          {{ 'createCard.form.gender.female' | translate }}
        </label>
      </form>
      <tui-error formControlName="gender" />
    </div>

    <div class="create-form__actions">
      <button tuiButton type="button" appearance="flat" size="m" (click)="back()">
        <tui-icon icon="@tui.chevron-left" />
        {{ 'common.back' | translate }}
      </button>
      <button tuiButton type="submit" size="m">
        {{ 'createCard.form.next' | translate }}
        <tui-icon icon="@tui.chevron-right" />
      </button>
    </div>
  </form>
</div>
