POSTGRES_DB=happy_deathday
POSTGRES_USER=
# POSTGRES_USER=postgres
POSTGRES_PASSWORD=
# POSTGRES_PASSWORD=postgres

# Full URL of the app, e.g. https://happydeathday.com
APP_URL=
# APP_URL=http://localhost
