:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  padding: 1.25rem 2.5rem;
}

.logo {
  font-size: 1.25rem;
  font-weight: 500;
}

.nav {
  display: flex;
  gap: .5rem;

  &__lang-btn {
    &__label {
      display: var(--lang-btn-display);
    }
  }
}